<div>
    <img src="{{pokemon.img}}" alt="Pokemon dito">
    <table border="solid">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>Habilidades</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pokemon.name}}</td>
                <td>{{pokemon.abilities}}</td>
                <td>{{pokemon.tipo}}</td>
            </tr>
        </tbody>
    </table>
</div>